# The namespace is never deleted by Flux, whatever a release holds.
apiVersion: v1
kind: Namespace
metadata:
  name: {{ bootstrap_secret_namespace }}
  annotations:
    kustomize.toolkit.fluxcd.io/prune: disabled
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ bootstrap_secret_name }}
  namespace: {{ bootstrap_secret_namespace }}
type: Opaque
data:
  clientId: {{ bootstrap_secret_client_id | b64encode }}
  clientSecret: {{ bootstrap_secret_client_secret | b64encode }}
